body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(200,55,55);
    border-radius: 4px;
}

.padding-12 {
    padding: 12px 12px 0 12px;
}

.header {
    background-color: rgb(245, 245, 248);
    font-size: 28px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-shadow: 1px 1px rgba(26, 26, 26, 0.1)
}

.header img {
    height: 72px;
    padding: 8px 16px 8px 16px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-right {
    padding: 8px 16px 8px 16px;
}

.bt-search {
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px 16px 0px 16px;
}

.cards {
    background-color: rgba(255, 123, 0, 0.259);
    margin: 12px;
    height: 197px;
    width: 320px;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow:  5px 5px 16px #d5d5d5,
                -5px -5px 16px #ebebeb;
    cursor: pointer;
}

.cards:hover {
    box-shadow:  8px 8px 16px #cdcdcd,
                -8px -8px 16px #ebebeb;
}

.cards-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-type {
    padding: 0 16px 0 16px;
}

.cards-img {
    display: flex;
    justify-content: flex-end;
    padding: 0 32px 0 16px;
}

.cards-img img {
    height: 96px;
    margin-top: -16px;
}

.d-none {
    display: none;
}

#pokedex {
    min-height: 50vh;
    background-color: rgb(253,118,120);
    color: white;
    display: flex;
    padding: 24px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    min-height: 100px;
    margin-top: -32px;
}

.info-container img {
    height: 400px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.bt {
    padding: 8px 16px 8px 16px;
    margin: 16px 0 16px 0;
    border-radius: 8px;
    cursor: pointer;
}

@media(max-width: 550px) {
    #headline-poke {
        display: none;
    }

    .cards {
        background-color: rgba(255, 123, 0, 0.259);
        margin: 12px;
        height: 179px;
        width: 290px;
    }
}