body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#pokedex {
    min-height: 50vh;
    background-color: rgb(253,118,120);
    color: white;
    display: flex;
    padding: 24px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    min-height: 100px;
    margin-top: -32px;
}

.info-container img {
    height: 400px;
}