body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.padding-12 {
    padding: 12px;
}

.header {
    background-color: rgb(245, 245, 248);
    font-size: 28px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-shadow: 1px 1px rgba(26, 26, 26, 0.1)
}

.header img {
    height: 72px;
    padding: 8px 16px 8px 16px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-right {
    padding: 8px 16px 8px 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    background-color: rgb(255, 255, 0);
    margin: 12px;
    height: 148px;
    width: 240px;
    box-sizing: border-box;
    border-radius: 16px;
}

.cards-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-none {
    display: none;
}

#pokedex {
    min-height: 50vh;
    background-color: rgb(253,118,120);
    color: white;
    display: flex;
    padding: 24px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    min-height: 100px;
    margin-top: -32px;
}

.info-container img {
    height: 400px;
}